<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/login.css">
    <title>login</title>
</head>

<body>
    <div class="container">

        <div class="logo-container">
            <img class="logo" src="public/img/logo.png">
        </div>
        
        <div class="login-container">
            <div class="message">
                <span id="hello">Hello!</span>
                <span id="hello2">Sign up to Get Started</span>
            </div>
            <form method="POST">
                <input id="email" name="email" type="text" placeholder="Email Address">
                <input id="password" name="password" type="password" placeholder="Password">
                <button id="login-button" type="submit">Login</button>
                <span id="signup">Don't have an account? <b style="color:#3067E6;">Sign up</b></span>
            </form>
                
        </div>

    </div>

</body>

</html>
