.section-container {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    padding: 0;
    overflow: auto;
}

.users {
    height: 25vh;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.4s;
}

.users:hover {
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 18px;
}

table {
    margin-left: 2%;
}